.landing{
    width: 100%;
    height: 100%;
}

.savegame-container {
    display: flex;
    flex-direction: row;
}

.savegame {
    height: 25rem;
    width: 18rem;
    border: 2px solid var(--background-tone);
    background-color: transparent;
    position: relative;
    display: grid;
    grid-template-columns: 9rem 9rem;
    grid-template-rows: 8rem auto;
    overflow: hidden;
    border-radius: 1rem;
}

.savegame-bg{
    grid-column: 1/3;
    grid-row: 1/2;
}

.savegame-bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.savegame-preview{
    background-color: var(--background-shade);
    grid-column: 1/3;
    grid-row: 2/3;
    box-shadow: 0 0 1rem 0 var(--background-shade);
    padding: 2rem;
}

.sg-name{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
}