.game-container {
    background-color: var(--background);
    display: grid;
    grid-template-rows: 45% 15% auto 4rem;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
    gap: .75rem;
    padding: .75rem;
    padding-bottom: 0;
}

.game-container>.menu-container {
    border-radius: .5rem;
    overflow-y: auto;
    background-color: var(--primary);
    border: .2rem solid var(--primary);
    color: var(--text);
    display: flex;
    flex-direction: column;
    position: relative;
}

.game-container>.menu-container::-webkit-scrollbar {
    display: none;
}

.game-container>.menu-container header {
    padding: .25rem .5rem;
    background-color: var(--primary);
    color: var(--background);
    font-size: .9rem;
    top: 0;
    position: sticky;
    z-index: 1;
}

.game-container>.menu-container .content-wrapper {
    height: 100%;
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: var(--background);
}