.loading-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-alt);
    font-size: 1.2rem;
    gap: .5rem;
}

.loading-hint {
    font-size: 1rem;
}

.animation-container {
    height: 10rem;
    width: 10rem;
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: spin 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@keyframes spin {
    100%{
        rotate: 360deg;
    }
}

.animate-circle {
    height: 100%;
    width: 100%;
    border: .2rem solid var(--primary);
    border-left: .2rem solid transparent;
    border-right: .2rem solid transparent;
    border-radius: 75%/100%;
}

.animation-container::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: var(--primary);
    border-radius: 100%;
    animation: slide-b 1s ease-in-out infinite alternate;
}

.animation-container::after {
    content: '';
    position: absolute;
    right: 0;
    height: 2rem;
    width: 2rem;
    background-color: var(--primary);
    border-radius: 100%;    
    animation: slide-a 1s ease-in-out infinite alternate;
}

@keyframes slide-b {
    100%{
        left: 15rem;
    }
}

@keyframes slide-a {
    100%{
        right: 15rem;
    }
}