.titlebar{
    height: 2.5rem;
    background-color: var(--window-bg);
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;
}

.titlebar_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: var(--window-bg);
    transition: background-color .1s ease-in;
}

#titlebar-close:hover {
    background-color: red;
}

.titlebar_button:hover {
    background-color: var(--window-bg-tone);
}

.window-title{
    display: flex;
    align-items: center;
    padding: .75rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    text-transform: uppercase;
}