.toolbox {
    grid-row: 5 / 6;
    grid-column: 1 / 7;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
}

.tb-btn {
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tb-btn svg {
    height: 60%;
    width: 60%;
}

.tb-btn:hover {
    background-color: var(--primary-600);
}