/* https://colordesigner.io/#F00807-5F6273-A4ABBF-CCC9D1-E2E1E9 */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Poppins&family=Roboto+Mono&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */

:root {
    --background: rgb(255, 255, 255);
    --background-shade: rgb(153, 153, 153);
    --background-tone: rgb(204, 204, 204);
    --text: rgb(226, 225, 233);
    --text-alt: rgb(31, 31, 31);
    --primary: rgb(240, 8, 7);
    --primary-shade: rgb(192, 6, 6);
    --primary-tone: rgb(218, 31, 31);
    --secondary: rgb(225, 220, 220);
    --accent: rgb(179, 30, 0);

    --window-bg: rgb(2, 20, 29);
    --window-bg-tone: rgb(12, 47, 64);
    --window-bg-shade: rgb(1, 10, 15);

    --light-green: rgb(7, 240, 124);
    --blue: rgb(7, 123, 240);

    --boxshadow-dark: 0 0 1rem 0 var(--window-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    background-color: var(--background);
    user-select: none;
}

html,
body,
p {
    padding: 0;
    margin: 0;
}

body {
    position: fixed;
    top: 2.5rem;
    left: 4rem;
    right: 0;
    bottom: 0;
    height: calc(100dvh - 2.5rem);
}

button {
    all: unset;
    transition: background-color .25s ease-in-out;
    cursor: pointer;
}

.react-icon-regular svg {
    height: 2rem;
    width: 2rem;
}