/* Normal theme dark https://www.realtimecolors.com/?colors=ffffff-02141d-eb580f-564906-f23655&fonts=Poppins-Poppins */
/* Normal theme light https://www.realtimecolors.com/?colors=000000-e2f4fd-f05d14-f9eca9-c90d2c&fonts=Poppins-Poppins */

/* autumn theme dark https://www.realtimecolors.com/?colors=fef9ec-140f00-ff8400-291f00-f86c30&fonts=Poppins-Poppins */
/* autumn theme light https://www.realtimecolors.com/?colors=130e01-fffaeb-ff8400-fff5d6-cf4307&fonts=Poppins-Poppins */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto+Mono&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */

:root {
    --text: rgb(255, 255, 255);
    --background: rgb(2, 20, 29);
    --primary: rgb(235, 88, 15);
    --secondary: rgb(86, 73, 6);
    --accent: rgb(242, 54, 85);

    --background-tone: rgb(12, 47, 64);

    --background-shade: rgb(1, 10, 15);
}

@media (prefers-color-scheme: light) {
    :root {
        --text: rgb(0, 0, 0);
        --background: rgb(226, 244, 253);
        --primary: rgb(240, 93, 20);
        --secondary: rgb(249, 236, 169);
        --accent: rgb(201, 13, 44);
    }
}

* {
    color: var(--text);
}

html {
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    background-color: var(--background);
}

html,
body,
p {
    padding: 0;
    margin: 0;
}

body {
    position: fixed;
    top: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100dvh - 2.5rem);
    padding: 3rem;
}