.sidemenu {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: var(--primary);
    z-index: 1;
    animation: slide-in .75s ease-in forwards;
    z-index: 1;
    box-shadow: 0 0 1rem 0 var(--text);
    height: 100%;
}

@keyframes slide-in {
    to {
        left: 4rem;
    }
}

.sidemenu-item {
    height: 100%;
    width: 100%;
}

.sidemenu-body,
.sidemenu-head {
    background-color: var(--background);
    width: 100%;
}

.sidemenu-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .35rem;
    background-color: var(--primary);
    height: 4rem;
}

.sidemenu-body {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    color: var(--text);
    padding: 2.5rem;
    border-top-left-radius: .75rem;
}

.sidemenu-action-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .75rem;
}

.sidemenu-ar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.sidemenu-action-field {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}

.bm-search-box {
    height: 3rem;
}

.bm-input-box {
    border-radius: .5rem;
    border: 1px solid var(--text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: .75rem;
    gap: .5rem;
    transition: box-shadow .25s ease-in-out;
}

.bm-input-box:focus-within {
    box-shadow: 0 0 .75rem 0 rgba(0, 0, 0, .25);
}

.bm-input-box input,
.bm-input-box select {
    all: unset;
    width: 100%;
    height: 100%;
}

.bm-box-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bm-box-icon svg {
    height: 1.25rem;
    width: 1.25rem;
}

.bm-type,
.bm-type option {
    cursor: pointer;
}

.bm-naming {
    height: 100%;
    width: 100%;
}

.bm-finish-btn {
    height: 2rem;
    width: 100%;
    background-color: var(--primary);
    color: var(--text-50);
    border-radius: .5rem;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

.bm-finish-btn:hover {
    background-color: var(--primary-600);
}

.bm-finish-btn span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
}

.sidemenu-btn {
    background-color: var(--primary);
    color: var(--text-50);
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}

.sidemenu-btn:hover {
    background-color: var(--primary-600);
}